:root{
    --pink:var(--pink);



}
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
    
}

html{
    font-size: 100%;
    scroll-padding-top: 8rem;
    scroll-behavior: smooth;
    overflow: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(250, 249, 250);
    padding: 0rem 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0.8rem 0rem rgb(0, 0, 0);
}

header .logo span{
    font-size: 2rem;
}

header .navbar a{
    font-size: 1.2rem;
    padding:  2.8rem;
    color: rgb(5, 0, 0)
}

header .navbar a:hover{
    color: rgb(246, 3, 165);
}


/************************************************************************** Home Page *******************************************************************************/

.home-pic{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

.home-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: white;

    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(-2px);

    padding: 50px 80px;
    border-radius: 15px;
    max-width: 400px;
    max-height: 800px;
 }

.title h2 {
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /* margin-bottom: 10px;*/
    margin-top: 40px;
}

.sub-title p{
    font-size: 16px;
    margin-bottom: 40px;
    /*margin-top: 10px;*/
    line-height: 1.5;
}

.home-box button{
    padding: 10px 80px;
    font-size: 20px;
    margin-top: 50px;
    border: 1px solid rgb(151, 149, 149);
    background: transparent;
    color: rgb(250, 246, 246);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
}

.home-box button:hover{
    background: rgb(245, 243, 243);
    color: black;
    border-radius: 20px;
}

/************************************************************************** About Page *******************************************************************************/

.ab-img{
    background-color: #e2c6eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-bottom: 20px;
    gap: 40px;
    height: 85vh;
    
}

.card{
    width: 400px;
    padding: 35px;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.3);

    box-shadow: 0 8px 32px rgba(0,0,0,0.1);

    color: rgb(0, 0, 0);
    
    width: 100%;
    height: 50%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(177, 31, 31, 0.15);
}

.card-sp{
    color: #bb00fa;

}

.card h2{
    font-size: 30px;
    margin-left: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card p{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
    margin-left: 10px;

}

/************************************************************************** Service Page *******************************************************************************/

body {
    background: url('assets/background.avif') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    z-index: -1;
}
